@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --azulescuro: #0400ff;
    --branco: #ffffff;
    --preto: #000000;
    --cinza: #a1a08b;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: var(--branco);
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    background-color: var(--azulescuro);
    height: 10vh;
    width: 99vw;
    align-items: center;
    justify-content: space-between;
}

header h1{
    display: flex;
    position: absolute;
    color: var(--branco);
    align-self: center;
    /* margin-left: 100px; */
    right: 750px;
    left: 850px;
}

header a img{
    display: flex;
    /* position: absolute; */
    width: 10vw;
    height: 10vh;
    left: 5px;
}

.Menu {
    display: flex;
    /* background-color: ; */
    align-items: center;
    width: 30vw;
    height: 10vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.Menu a {
    text-decoration: none;
    margin: 0 10px;
}

.Menu a p {
    color: var(--branco);
    font-size: 1.2rem;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.Menu a p:hover {
    background-color: var(--cinza);
}

.container {
    display: flex;
    width: 99vw;
    height: 285vh;
    justify-content: center;
}

#backText{
    display: flex;
    background-color: var(--branco);
    justify-content: flex-start;
    width: 90vw;
    height: 270vh;
    margin: 100px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.5);
}

.backText h1 {
    display: flex;
    font-size: 48px;
    margin-top: 80px;
    
    
}

.Text p{
    display: flex;
    font-size: 24px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: justify;
}

.Text h2{
    display: flex;
    font-size: 32px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    text-align: justify;
}

.Text ul{
    display: flex;
    list-style: disc;
    font-size: 24px;
    flex-direction: column;
    margin-left: 50px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.content h3{
    display: flex;
    text-align: center;
    font-size: 32px;
}

.content img {
    display: flex;
    width: 5vw;
    height: 16vh;
}

.content p {
    display: flex;
    font-size: 24px;
    margin-top: 70px;
}

.content h4 {
    display: flex;
    font-size: 48px;
}

.secondimg img{
    display: flex;
    width: 15vw;
    height: 15vh;
}

.thirdimg img{
    display: flex;
    width: 10vw;
    height: 15vh;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}
th, td {
    padding: 10px;
    text-align: center;
    border: 2px solid #333;
    font-size: 18px;
}
th {
    background-color: var(--azulescuro);
    color: var(--branco);
}
tr:nth-child(even) {
    background-color: #423a3a33;
}
tr:hover {
    background-color: #8b8cf1;
}

button{
    display: flex;
    width: 12vw;
    height: 5vh;
    color: var(--branco);
    font-size: 16px;
    background-color: var(--azulescuro);
    border: none;
    align-items: center;
    border-radius: 5px;
    font-weight: bold;
    justify-content: center;
}



button:hover{
    cursor: pointer;
}

button:active{
    background-color: #060475;
}

footer{
    display: flex;
    background-color: var(--azulescuro);
    height: 6vh;
    justify-content: center;
}

footer p {
    display: flex;
    color: var(--branco);
    font-size: 24px;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}